body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white
}



.header {
    background-image: url(../images/background-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 954px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    background-color: hsla(32, 66%, 76%, 0.25);
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-shadow: none;
}


.header_img {
    max-width: 4em;
    margin: 10px;
}

.welcome {
    margin: 218px 363px 1em 0;
    padding-bottom: 150px;
    max-width: 1077px;
    max-height: 302px;
    background-color: #516A8835;
}

.welcome_items_h1 {
    padding-top: 45px;
    margin-left: 102px;
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    margin-bottom: 0;
}

.welcome_items {
    margin-left: 102px;
    margin-bottom: 53px;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

footer {
    background-color: #516a88;


}

.footer__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contacts_email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts_social {
    display: flex;
    justify-content: end;
    align-items: center;
}

.email_picture {
    margin-right: 3%;
}

.social_vk {
    margin-right: 3%;
}

.email_address {
    color: white;
}

.mission {
    display: flex;
    margin: 125px 95px 125px 95px;
}

.mission_img {
    width: 534px;
    height: 738px;
    margin-right: 115px;
}

.mission_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #516A88;
    margin-top: -10px;
    margin-left: 70px;
}

.mission_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #516A88;
}

.form {
    box-sizing: border-box;
    color: #516A88;
    width: 50%;
    margin: 0 auto;
}


.form h2 {
    font-size: 70px;
    line-height: 61px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.form .send-help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 625px;
}

.form .send-help label:not(.usual),
.form .send-help .checkbox {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    /* text-transform: uppercase; */
}

.form .send-help input:not([type="radio"]),
.form .send-help select,
.form .send-help textarea {
    display: block;
    width: 100%;
    margin-top: 15px;
    min-height: 50x;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    /* font-weight: bold; */
}

.form .send-help textarea {
    min-height: 120px;
}

.form .send-help select {
    position: relative;
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.form .send-help select::after {
    position: absolute;
    content: "";
    display: block;
    right: 20px;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 20px solid transparent;
    border-top: 20px solid #516A88;
}

.form .send-help select .form:focus {
    outline: none;
}

.send-help input:hover,
.form .send-help select:hover,
.form .send-help textarea:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.form .send-help input:focus,
.form .send-help textarea:focus {
    outline: none;
    background-color: #93a5bb;
    color: white;
}

.volume-options select {
    margin: 0;
    min-width: 650px;
}

.form .send-help>div {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form .send-help .radio {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.form .send-help .phone {
    width: 285px;
    margin-right: 50px;
    box-sizing: border-box;
}

.form .send-help .checkbox {
    width: auto;
    padding: 0;
}

.form .send-help .checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline;
}

.form .send-help .checkbox input+label {
    display: inline-flex;
    align-items: center;
    margin-right: 160px;
}

.form .send-help .checkbox input+label::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
}

.form .send-help .checkbox input:checked+label::before {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-6 -6 20 20'%3e%3cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form .send-help .btn {
    padding: 15px;
    width: 30%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: white;
    font-size: 16px;
    background-color: #516A88;
    border-radius: 25px;
}

.form .send-help .btn:hover {
    color: white;
    background-color: #284161;
    border-color: #284161;
}

.form .send-help .btn:active {
    color: rgba(255, 255, 255, 0.7);
    background-color: #516A88;
}

.how {
    margin: 125px 95px 125px 95px;
}

.how_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #516A88;
}

.how_first {
    display: flex;
}

.how_first-img {
    width: 534px;
    height: 351px;
    margin-right: 115px;
}

.how_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #516A88;
}

.how_text-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    color: #516A88;
}

.how_second {
    display: flex;
}

.how_second-img {
    width: 603px;
    height: 402px;
    margin-left: 115px;
}