

footer {
    background-color: #516A88;


}

.footer__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contacts_email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts_social {
    display: flex;
    justify-content: end;
    align-items: center;
}

.email_picture {
    margin-right: 3%;
}

.social_vk {
    margin-right: 3%;
}

.email_address {
    color: white;
}



